body {
    background-color: lightcyan;
}
.navvy {
    margin-bottom: 40px;
    border-bottom: 2px solid lightseagreen;
    background-color: lightpink;
}

.length-container {
    border: 4px solid lightseagreen;
    background-color: lightgrey;
    padding: 20px;
}

.length {
    font-size: 20px;
}

#slidey-guy {
    width: 90%;
    margin-left: 20px;
}

.lumn {
    border: 4px solid lightseagreen;
    background-color: lightgrey;
}

.chk-box {
    margin: 20px;
}

#gen-btn {
    height: 90%;
    margin: 10px auto;
    background-color: lightpink;
}

.pass-return {
    border: 4px solid lightseagreen;
    padding: 20px;
    background-color: lightgrey;
}

#password {
    width: 90%;
    margin-left: 25px;
    height: 30px;
}

.footy {
    margin-top: 40px;
    border-top: 2px solid lightseagreen;
    background-color: lightpink;
    height: 50px;
}



